<div id="<%= dom_id plan %>">
  <p>
    <strong>Nome:</strong>
    <%= plan.nome %>
  </p>

  <p>
    <strong>Codigo:</strong>
    <%= plan.codigo %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= plan.descricao %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= plan.valor %>
  </p>

  <p>
    <strong>Data fim:</strong>
    <%= plan.data_fim %>
  </p>

  <p>
    <strong>Coparticipacao:</strong>
    <%= plan.coparticipacao %>
  </p>

</div>
