<%= form_with(model: authorization_request) do |form| %>
  <% if authorization_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(authorization_request.errors.count, "error") %> prohibited this authorization_request from being saved:</h2>

      <ul>
        <% authorization_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :Carteirinha %><br>
  <%= form.text_field :carteirinha %>

  <br><br>

  <%= form.label :procedimento %><br>
  <%= form.select :procedimento, ['Consulta', 'Exame - Hemograma','Exame - PET/ CT', 'Cirurgia'] %><br><br>

  <div>
    <button type="submit" class="inline-flex items-center px-2.5 py-0.5 text-lg font-medium bg-green-100 text-green-800 capitalize" id="btn-submit">
      Enviar
    </button>
  </div><br>
<% end %>
